/* Making sure that the browser fits the page 100% */
html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
}

/* Main page style */

#navigation {
    width: 100%;
    height: 56px;
}

/* Style for the currency conversion */
