/* Making sure that the browser fits the page 100% */
html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #3CC47C;
    font-family: 'Raleway', sans-serif;
}

/* Main page style */

p {
    font-size: 27.5px;
    color: black;
}

#navigation {
    background-color: #1E392A;
    width: 100%;
    height: 39px;
    display: inline-block;
    
}

#homepage {
    display: inline-block;
    float: left;
    width: 132.5px;
    height: 27.5px;
    text-decoration: none;
    background-color: blanchedalmond;
    text-align: center;
    padding-top: 5px;
    border-style: solid;
    color: #1E392A;
}

#homepage:hover {
    font-size: 20px;
}

#currencyConversion {
    display: inline-block;
    float: left;
    width: 200px;
    height: 27.5px;
    text-decoration: none;
    background-color: blanchedalmond;
    text-align: center;
    padding-top: 5px;
    border-style: solid;
    color: #1E392A;
}

#currencyConversion:hover {
    font-size: 20px;
}

#panel, #flip {
    text-align: center;
    background-color: blanchedalmond;
    border-style: solid;
    border-width: 1px;
    border-color: #c3c3c3;
}

#panel {
    display: none;
    float: inherit;
}

#whiteArea {
    margin-top: 640px;
}

footer {
    margin-top: 550px;
    text-align: center;
    background-color: whitesmoke;
    width: 100%;
    height: auto;
}